<%- include ('partials/_header') %>

<div class="container">
    <img class="rounded mx-auto d-block" src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fs3.amazonaws.com%2Fpagoefectivo.pe%2Fzona.pagoefectivo.pe%2Fzona.pagoefectivo.pe%2Fuploads%2F2016%2F07%2F01211127%2Fsodimac-logo.jpg&f=1&nofb=1"></img>
    <h1>Inscripción usuarios</h1>
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <form action='/add' method="POST">
                        <div class="form-group mb-2">
                            <input type="text" name="nombre" class="form-control" placeholder="Ingresa nombre"></>
                        </div>
                        <div class="form-group mb-2">
                            <input type="text" name="apellido" class="form-control" placeholder="Ingresa nombre"></>
                        </div>
                        <div class="form-group mb-2">
                            <input type="text" name="email" class="form-control" placeholder="Ingresa nombre"></>
                        </div>
                        <div class="form-group mb-2">
                            <input type="text" name="rol" class="form-control" placeholder="Ingresa nombre"></>
                        </div>
                        <div class="form-group mb-2">
                            <input type="text" name="telefono" class="form-control" placeholder="Ingresa nombre"></>
                        </div>

                        <!-- <div class="form-group mb-2">
                            <input type="text" cols="80" name="status" class="form-control" placeholder="Ingresa estado"></>
                        </div> -->
                        <button type="submit" class="btn btn-outline-primary btn-block">Agregar</button>
                        <button type="reset" class="btn btn-outline-primary">Limpiar</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- listado -->
        <div class="col-md-7">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Nro.</th>
                        <th>Nit</th>
                        <th>Razon Social</th>
                        <th>Opciones</th>

                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>

<%- include ('partials/_footer') %>