<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sodimac Reto 2</title>
    <!-- liena abajo carga boostrap 4 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>

    <nav class="navbar navbar-dark bg-primary mb-4 navbar-hover">
        <a href="/" class="navbar-brand">
            Proveedores - Sodimac
        </a>
        <a href="/usuario" class="navbar-brand">
            Usuario
        </a>
    
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="buscar" aria-label="Buscar">
            <button class="btn  btn-secundary" type="submit">Buscar</button>
        </form>
    </nav>
    